<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <!-- <li v-for='(v,i) in msg'>{{v}}索引{{i}}
            </li> -->
            <li v-for='it in obj' :key='it.id'>
                <a href="#">{{it.id}},{{it.name}},{{it.age}},{{it.gender}}</a>
            </li>
        </ul>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                msg: [1, 2, 3, 4, 5, 6, 10],
                obj: [{
                    id: 1,
                    name: 'zs',
                    age: 18,
                    gender: '男'
                },
                {
                    id: 2,
                    name: 'zs',
                    age: 18,
                    gender: '男'
                },
                {
                    id: 3,
                    name: 'zs',
                    age: 18,
                    gender: '男'
                }]
            }
        })
    </script>
</body>

</html>